$color-border: #e6e9ed;

.container{
  margin: auto;
}


.social {
  border-bottom: 1px solid $color-border;
  font-size: 0.75rem;
  display: flex;
  height: 40px;
  align-items: center;

  li {
    list-style: none;
    display: inline;
    padding: 5px;

    a {
      position: relative;

      ::after {
        content: '';
        z-index: -1;
        position: absolute;
        height: 0;
        top: 0;
        left: 0;
        transition: all .2s ease-in-out;
      }
    }
  }

  a .icon-facebook::after {
    background-color: #4668b3;
  }
}


#blue-logo, #white-logo {
  height: 40px;
  width: 162px;
  transition: all ease-in-out .4s;
}


.benefit {
  line-height: 1.8rem;
  padding: 50px;

  .icon-benefit {
    font-size: 4rem;
    color: $color-light-green;
  }
}

.image-text {
  background-color: $color-white;
  padding: 10px 0;
  margin-bottom: 50px;
}

.offer {
  padding: 60px;
}

#more-info:hover .icon-right-small {
  padding-left: 6px;
  transition: all .2s ease-in-out;
  }

.get-in-touch {
  i {
    margin-right: 5px;
  }
}

@mixin slider-text($left) {
  color: $color-white;
  position: relative;
  top: -500px;
  left: $left;
}

.slider-text-center {
  @include slider-text(0)
}

.slider-text-left {
  @include slider-text(50px)
}

.slider-text-right {
  @include slider-text(-50px)
}

.main-nav {
  position: relative;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: bold;
  box-sizing: border-box;
  display: inline-block;
    :hover {
      border-color: $color-border;
      background-color: $color-light;
    }

    >a {
      padding: 15px 20px;
      border: 1px solid transparent;
      border-bottom: none;
      border-radius: 3px 3px 0 0;
    }

    .dropdown-menu {
      display: none;
      position: absolute;
      top: 1.95rem;
      text-align: left;
      z-index: 1;
      min-width: 11rem;
      border: 1px solid $color-border;
      border-radius: 0 3px 3px 3px;
      border-top: none;

        :hover {
          background-color: $color-light-green;
          color: $color-white;
        }

        >a {
          display: block;
          padding: 10px 0 10px 20px;
          border-bottom: 1px solid $color-border;
          background-color: $color-light;
        }
    }
}
