$color-border: #e6e9ed;

.container{
  margin: auto;
}


.social {
  border-bottom: 1px solid $color-border;
  font-size: 0.75rem;
  display: flex;
  height: 40px;
  align-items: center;

  li {
    list-style: none;
    display: inline;
    padding: 5px;

    a {
      position: relative;

      ::after {
        content: '';
        z-index: -1;
        position: absolute;
        height: 0;
        top: 0;
        left: 0;
        transition: all .2s ease-in-out;
      }
    }
  }

  a .icon-facebook::after {
    background-color: #4668b3;
  }
}


.main-nav {
  position: relative;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: bold;
  box-sizing: border-box;
  display: inline-block;
  color: $color-text;

  :hover {
    border-color: $color-border;
    background-color: $color-light;
    color: $color-light-green;
  }

  >a {
    padding: 15px 15px;
    border: 1px solid transparent;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 1.95rem;
    text-align: left;
    z-index: 1;
    min-width: 11rem;
    border: 1px solid $color-border;
    border-radius: 0 3px 3px 3px;

    :hover {
      background-color: $color-light-green;
      color: $color-white;
    }

    >a {
      display: block;
      padding: 10px 0 10px 20px;
      border-bottom: 1px solid $color-border;
      background-color: $color-light;
    }
  }
}

.dropdown-search {
  position: relative;


  :hover {
    border-color: $color-border;
    border-radius: 3px 3px 0 0;
    border-bottom: none;
    background-color: $color-light;
  }

  .main-menu-search {
    position: absolute;
    top: 1.7rem;
    right: 0;
    border: 1px solid $color-border;
    border-radius: 3px 0 3px 3px;
    padding: 10px;
    background-color: $color-light;
    display: none;
    z-index: 1;

    .search-input {
      position: relative;
      border: 1px solid $color-border;
      background-color: $color-white;
      min-width: 15rem;
      text-align: left;
      padding: 5px;

      .btn-search {
        position: absolute;
        top: auto;
        right: 5px;
      }

      >input {
        border: none;
        outline: none;
        background-color: transparent;
      }
    }
  }
}

#blue-logo, #white-logo {
  height: 40px;
  width: 162px;
  transition: all ease-in-out .4s;
}

.slider-image {
  position: relative;

  .slider-text-one {
    position: absolute;
    top: 50px;
    left: 200px;

    p {
      margin-top: 15px;
      color: $color-light;
      margin-bottom: 350px;
    }
  }

  .slider-text-two {
    position: absolute;
    top: 130px;
    right: 80px;
    text-align: right;
    color: $color-light;

    p {
      margin: 30px 0;
    }
  }

  .slider-text-three {
    position: absolute;
    top: 200px;
    left: 80px;
    text-align: left;

    span {
      background-color: rgba($color-light, .8);
      margin-bottom: 20px;
    }

    p {
      color: $color-light;
      margin: 40px 0;
    }
  }

  .slider-text-four {
    position: absolute;
    top: 200px;
    right: 80px;
    text-align: right;
    color: $color-light;

    span {
      background-color: rgba($color-text, .8);
      padding: 0 5px;
    }
  }

  .slider-text-five {
    position: absolute;
    top: 210px;
    color: $color-light;
    left: 300px;

    p {
      margin: 30px 0;
    }
  }
}

.benefit {
  line-height: 1.8rem;
  padding: 50px;

  .icon-benefit {
    font-size: 4rem;
    color: $color-light-green;
  }
}

.image-text {
  background-color: $color-white;
  padding: 10px 0;
  margin-bottom: 50px;
}

.offer {
  padding: 60px;
}

#more-info:hover .icon-right-small {
  padding-left: 6px;
  transition: all .2s ease-in-out;
  }

.get-in-touch {
  i {
    margin-right: 5px;
  }
}

.menu-sub-footer li {
  margin: 0;
}

.menu-sub-footer li::before {
      content: '·';
      padding: 0 10px;
}

.menu-sub-footer li:first-child::before {
  content: none;
}

.responsive-menu {
  position: absolute;
  right: 10px;

  .btn-main-menu {
    padding: 12px 10px;
  }
}
