$color-btn-hover: #1e967f;
$color-bg-input: #4e5c6c;

.btn {
  background-color: $color-light-green;
  border: none;
  border-radius: 3px;
  color: $color-light;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-start {
  padding: 17px 30px;
}

.btn-touch {
  font-size: 0.75rem;
  padding: 15px 25px;
}

.btn-subscribe {
  font-size: 0.730rem;
  font-style: inherit;
  font-weight: 700;
  padding: 7px 10px;
  position: absolute;
  top: 4px;
  right: 3px;
}

.nest {
  background-color: $color-bg-input;
  padding: 7px 0 7px 5px;
  border-radius: 3px;
  position: relative;

  .new-letters {
    border: none;
    padding: 0;
    outline: none;
    background-color: transparent;
    color: $color-text-footer;
  }
}
