a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  transition: all .2s ease-out;
}

li a:hover {
  color: $color-light-green;
}

li a, a:visited, a:active {
    color: $color-text;
}

.btn:hover {
    background-color: $color-btn-hover;
    transition-duration: .5s;
}


.main-nav:hover {
  .dropdown-menu {
    display: block;
  }

  >a {
    border-color: $color-border;
    background-color: $color-light;
    border-radius: 3px 3px 0 0;
    border-bottom: none;
  }
}

.dropdown-search:hover {
  .main-menu-search {
    display: block;
  }

  >a {
    border-color: $color-border;
    background-color: $color-light;
    border-radius: 3px 3px 0 0;
    color: $color-light-green;
  }
}

.logo {
  opacity: 1;
  transition: opacity .25s ease-in-out;

  :hover {
    opacity: 0.6;
  }
}

.icon-search:hover {
  color: $color-light-green;
}

#more-info:hover, #footer-email:hover {
  color: $color-light-green;
}

.responsive-menu {
  display: none;
}

@media only screen and (max-width: 1035px) {
  .social, .main-nav, .dropdown-search {
    display: none;
  }

  .responsive-menu {
    display: block;
  }
}

