a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  transition: all .2s ease-out;
}

li a:hover {
  color: $color-light-green;
}

li a, a:visited, a:active {
    color: $color-text;
}

.btn:hover {
    background-color: $color-btn-hover;
    transition-duration: .5s;
}

.logo {
  opacity: 1;
  transition: opacity .25s ease-in-out;

  :hover {
    opacity: 0.6;
  }
}

#more-info:hover, #footer-email:hover {
  color: $color-light-green;
}

@media only screen and (max-width: 1000px) {
  .social {
    display: none;
  }
}




.main-nav:hover {
  .dropdown-menu {
    display: block;
  }
}