$bg-color: #fbfcfd;
$color-text: #536a7f;
$color-light: #f5f7fa;
$color-footer: #2f4052;
$color-sub-footer: #283645;
$color-light-green: #1abb9c;
$color-white: #ffffff;
$color-text-footer: #a3b1bf;
$color-border: #e6e9ed;
$color-btn-hover: #1e967f;
$color-bg-input: #4e5c6c;