.m-btn {
  background-color: $color-light-green;
  border: none;
  border-radius: 3px;
  color: $color-light;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.m-btn-start {
  padding: 17px 30px;
}

.m-btn-touch {
  font-size: 0.75rem;
  padding: 15px 25px;
}

.m-btn-subscribe {
  font-size: 0.730rem;
  font-style: inherit;
  font-weight: 700;
  padding: 7px 10px;
  position: absolute;
  top: 4px;
  right: 3px;
}

.m-btn-search {
  position: absolute;
  top: auto;
  right: 5px;
}

.m-btn-main-menu {
  padding: 5px;
}