@mixin slider-text {
  h1 {
    font-size: 4rem;
    text-transform: uppercase;
    margin: 0;
  }

  p {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0;
  }
}

@mixin display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  position: relative;

  .m-slider-image-one {
    @include display;

    .m-slider-text-one {
      position: absolute;
      text-align: center;
      @include slider-text;

      p {
        background-color: rgba($color-light, .8);
      }
    }
  }

  .m-slider-image-two {
    @include display;

    .m-slider-text-two {
      position: absolute;
      text-align: right;
      @include slider-text;

      p {
        color: $color-light;
      }
    }
  }

  .m-slider-image-three {
    @include display;

    .m-slider-text-three {
      position: absolute;
      text-align: left;
      @include slider-text;

      h1, p {
        color: $color-light;
      }
    }
  }

  .m-slider-image-four {
    @include display;

    .m-slider-text-four {
      position: absolute;
      text-align: right;
      @include slider-text;

      h1, p {
        color: $color-light;
      }
    }
  }

  .m-slider-image-five {
    @include display;

    .m-slider-text-five {
      position: absolute;
      text-align: center;
      @include slider-text;

      span {
        background-color: rgba($color-light, .8);
        padding: 0 5px;
      }

      p {
        color: $color-light;
      }
    }
  }
}




