@import "../variable";

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background-color: $bg-color;
  color: $color-text;
  overflow-x: hidden;
}

header {
  background-color: $color-white;
  z-index: 1;
  padding: 30px 10px;
  transition: all ease-in-out .4s;
  width: 100%;
}

ul {
  margin: 0;
}

#more-info, #footer-email{
  color: $color-text-footer;
}


footer {
  font-size: 0.875rem;
  line-height: 1.375rem;
  background-color: $color-footer;
  color: $color-text-footer;
  padding: 60px;

  h4 {
    color: $color-white;
  }

  li {
    list-style: none;
  }
}

.sub-footer {
  background-color: $color-sub-footer;
  padding: 20px;
  font-size: 0.875rem;

  li {
    list-style: none;
    display: inline;
    margin-left: 20px;
  }
}



